:root {
    --color-brand: #819b57;
    --color-brand-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
}

/* Base */
body {
    color: var(--color-primary-dark);
}

ul {
    list-style-type: none;
}

/* Button */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* Link */
.link {
    color: var(--color-primary-light);
}

.link:hover {
    color: var(--color-brand);
}

/* Hero section */
.hero.title {
    color: var(--color-primary-light);
}

.hero-title .accent {
    color: var(--color-brand);
}

/* Advantages section */
.benefits-list {
    color: var(--color-primary-light);
    background-color: var(--color-brand);
}

.section-title .accent {
    color: var(--color-brand-dark);
}
